absl-py
appnope
astor
backcall
cycler
decorator
gast
grpcio
h5py
ipython
ipython-genutils
jedi
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
PyYAML
scipy
six
tensorboard
tensorflow
termcolor
traitlets
wcwidth
Werkzeug
